doctype html
head
  meta(charset='utf-8')
  title AlloClasse - Votre classe en num&eacute;rique
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  // Google Web Fonts
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap' rel='stylesheet')
  // Font Awesome
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' rel='stylesheet')
  // Flaticon Font
  link(href='lib/flaticon/font/flaticon.css' rel='stylesheet')
  // Libraries Stylesheet
  link(href='lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='lib/lightbox/css/lightbox.min.css' rel='stylesheet')
  // Customized Bootstrap Stylesheet
  link(href='css/style.css' rel='stylesheet')
  // JavaScript Libraries
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
  script(src='lib/easing/easing.min.js')
  script(src='lib/owlcarousel/owl.carousel.min.js')
  script(src='lib/isotope/isotope.pkgd.min.js')
  script(src='lib/lightbox/js/lightbox.min.js')
  // Template Javascript
  script(src='js/main.js')
  script(src='js/global.js')
  script(src='js/connexions.js')
  script(src='js/controleurVue.js')
  script(src='admin/vue.js')
  script(src='js/controleurRequetes.js')
// Vue Start
#vue
  // Navbar Start
  .container-fluid.bg-light.position-relative.shadow
    nav.navbar.navbar-expand-lg.bg-light.navbar-light.py-3.py-lg-0.px-0.px-lg-5
      .logo_container
        a.navbar-brand.font-weight-bold.text-secondary(href='index.html')
          img.logo(src='./img/logo.png')
          span.text-primary AlloClasse
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse.justify-content-between
        .navbar-nav.font-weight-bold.mx-auto.py-0
          a.nav-item.nav-link.active(href='index.html') Accueil
          a.nav-item.nav-link(href='#section-1') Notre plateforme
          a.nav-item.nav-link(href='#section-2') Notre mission
          a.nav-item.nav-link(href='#section-3') Nos partenaires
          a.nav-item.nav-link(href='#section-4') Nos utilisateurs
          a.nav-item.nav-link(href='#section-5') Contact
        .nav_btn_container
          a.btn.btn-primary.px-4(href='./pages/connexion.html') Connexion
          a.btn.btn-primary.px-4(href='./pages/connexion.html') S&apos;enregistrer
  // Navbar End
  // Header Start
  #section-1.container-fluid.bg-primary.px-0.px-md-5.mb-5
    .row.align-items-center.px-3
      .col-lg-6.text-center.text-lg-left
        h4.text-white.mb-4.mt-5.mt-lg-0 Plateforme de Gestion de Classe
        h1.display-3.font-weight-bold.text-white
          | Une approche num&eacute;rique dans l&apos;int&eacute;raction &Eacute;l&egrave;ves-Professeur
        p.text-white.mb-4
          | AlloClasse est une application web offrant une m&eacute;thode de gestion de classe en ligne
          | ciblant dans les &eacute;coles primaires. En combinant un mur de notifications ouvertes aux
          | commentaires des &eacute;tudiants et un syst&egrave;me de messagerie priv&eacute;, le professeur s&apos;assure
          | de l&apos;acheminement d&apos;informations &agrave; tous et toutes.
        p.text-white.mb-4
          | Via ce syst&egrave;me, l&apos;acc&egrave;s parental au compte &eacute;l&egrave;ve offre aux parents l&apos;opportunit&eacute; de
          | suivre la r&eacute;ussite scolaire de ses bambins en dehors des rencontres de parents
          | traditionelles.
        a.btn.btn-secondary.mt-1.py-3.px-5(href='') En savoir plus
      .col-lg-6.text-center.text-lg-right
        img.img-fluid.mt-5(src='img/header.png' alt='')
  // Header End
  // About Start
  #section-2.container-fluid.py-5
    .container
      .row.align-items-center
        .col-lg-6
          img.img-fluid.rounded.mb-5.mb-lg-0(src='img/school_life.jpg' alt='')
        .col-lg-6
          p.section-title.pr-5
            span.pr-2 &Agrave; Propos de Nous
          h1.mb-4 Notre mission: Une introduction responsable du num&eacute;rique en bas-&acirc;ge
          p
            | Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo
            | dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo.
            | Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
            | dolor
          .row.pt-2.pb-4
            .col-6.col-md-4
              img.img-fluid.rounded(src='img/about-2.jpg' alt='')
            .col-6.col-md-8
              ul.list-inline.m-0
                li.py-2.border-top.border-bottom
                  i.fa.fa-check.text-primary.mr-3
                  | Labore eos amet
                  |                       dolor amet diam
                li.py-2.border-bottom
                  i.fa.fa-check.text-primary.mr-3
                  | Etsea et sit
                  |                       dolor amet ipsum
                li.py-2.border-bottom
                  i.fa.fa-check.text-primary.mr-3
                  | Diam dolor diam
                  |                       elitripsum vero.
  // About End
  // Team Start
  #section-3.container-fluid.pt-5
    .container
      .text-center.pb-2
        p.section-title.px-5
          span.px-2 Nos clients
        h1.mb-4 Fiers utilisateurs de AlloClasse
      #row_clients.row
        .col-md-6.col-lg-3.text-center.team.mb-5
          .position-relative.overflow-hidden.mb-4
            img.img-fluid.w-100(src='img/cs_marie_victorin.png' alt='')
            .team-social.d-flex.align-items-center.justify-content-center.w-100.h-100.position-absolute
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-twitter
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-facebook-f
              a.btn.btn-outline-light.text-center.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-linkedin-in
        .col-md-6.col-lg-3.text-center.team.mb-5
          .position-relative.overflow-hidden.mb-4
            img.img-fluid.w-100(src='img/cs_des_samares.png' alt='')
            .team-social.d-flex.align-items-center.justify-content-center.w-100.h-100.position-absolute
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-twitter
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-facebook-f
              a.btn.btn-outline-light.text-center.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-linkedin-in
        .col-md-6.col-lg-3.text-center.team.mb-5
          .position-relative.overflow-hidden.mb-4
            img.img-fluid.w-100(src='img/cs_des_patriotes.jpg' alt='')
            .team-social.d-flex.align-items-center.justify-content-center.w-100.h-100.position-absolute
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-twitter
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-facebook-f
              a.btn.btn-outline-light.text-center.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-linkedin-in
        .col-md-6.col-lg-3.text-center.team.mb-5
          .position-relative.overflow-hidden.mb-4
            img.img-fluid.w-100(src='img/cs_marguerite_bourgeoys.png' alt='')
            .team-social.d-flex.align-items-center.justify-content-center.w-100.h-100.position-absolute
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-twitter
              a.btn.btn-outline-light.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-facebook-f
              a.btn.btn-outline-light.text-center.px-0(style='width: 38px; height: 38px' href='#')
                i.fab.fa-linkedin-in
  // Team End
  // Testimonial Start
  #section-4.container-fluid.py-5
    .container.p-0
      .text-center.pb-2
        p.section-title.px-5
          span.px-2 T&eacute;moignages
        h1.mb-4 Ce qu&apos;en disent les parents!
      .owl-carousel.testimonial-carousel
        .testimonial-item.px-3
          .bg-light.shadow-sm.rounded.mb-4.p-4
            h3.fas.fa-quote-left.text-primary.mr-3
            |                 Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            |                 eirmod clita lorem. Dolor tempor ipsum clita
          .d-flex.align-items-center
            img.rounded-circle(src='img/testimonial-1.jpg' style='width: 70px; height: 70px' alt='Image')
            .pl-3
              h5 Antonio Tavares
              i Parent du petit Ali
        .testimonial-item.px-3
          .bg-light.shadow-sm.rounded.mb-4.p-4
            h3.fas.fa-quote-left.text-primary.mr-3
            |                 Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            |                 eirmod clita lorem. Dolor tempor ipsum clita
          .d-flex.align-items-center
            img.rounded-circle(src='img/testimonial-2.jpg' style='width: 70px; height: 70px' alt='Image')
            .pl-3
              h5 Emma Senez-Parent
              i Parent du petit Jason
        .testimonial-item.px-3
          .bg-light.shadow-sm.rounded.mb-4.p-4
            h3.fas.fa-quote-left.text-primary.mr-3
            |                 Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            |                 eirmod clita lorem. Dolor tempor ipsum clita
          .d-flex.align-items-center
            img.rounded-circle(src='img/testimonial-3.jpg' style='width: 70px; height: 70px' alt='Image')
            .pl-3
              h5 Jean-Pierre Fiset
              i Parent du petit Mik&auml;el
        .testimonial-item.px-3
          .bg-light.shadow-sm.rounded.mb-4.p-4
            h3.fas.fa-quote-left.text-primary.mr-3
            |                 Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr
            |                 eirmod clita lorem. Dolor tempor ipsum clita
          .d-flex.align-items-center
            img.rounded-circle(src='img/testimonial-4.jpg' style='width: 70px; height: 70px' alt='Image')
            .pl-3
              h5 Keven Presseau St-Laurent
              i Parent du petit Afshin
  // Testimonial End
  // Footer Start
  #section-5.container-fluid.bg-secondary.text-white.mt-5.py-5.px-sm-3.px-md-5
    #footer_top_row.row.pt-5
      .col-lg-3.col-md-6.mb-5
        a.navbar-brand.font-weight-bold.text-primary.m-0.mb-4.p-0(href='' style='font-size: 40px; line-height: 40px')
          .footer_logo_container
            img.logo(src='./img/logo.png')
            span.text-white AlloClasse
        p
          | Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea
          | dolor et magna dolor, elitr rebum duo est sed diam elitr. Stet elitr
          | stet diam duo eos rebum ipsum diam ipsum elitr.
        .d-flex.justify-content-start.mt-4
          a.btn.btn-outline-primary.rounded-circle.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
            i.fab.fa-twitter
          a.btn.btn-outline-primary.rounded-circle.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
            i.fab.fa-facebook-f
          a.btn.btn-outline-primary.rounded-circle.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
            i.fab.fa-linkedin-in
          a.btn.btn-outline-primary.rounded-circle.text-center.mr-2.px-0(style='width: 38px; height: 38px' href='#')
            i.fab.fa-instagram
      .col-lg-3.col-md-6.mb-5
        h3.text-primary.mb-4 Contactez-nous
        .d-flex
          h4.fa.fa-map-marker-alt.text-primary
          .pl-3
            h5.text-white Addresse
            p 2500 Chem. de Polytechnique, Montr&eacute;al, Qu&eacute;bec
        .d-flex
          h4.fa.fa-envelope.text-primary
          .pl-3
            h5.text-white Courriel
            p info@exemple.com
        .d-flex
          h4.fa.fa-phone-alt.text-primary
          .pl-3
            h5.text-white T&eacute;l&eacute;phone
            p 1 514 340-4711
      .col-lg-3.col-md-6.mb-5
        h3.text-primary.mb-4 Liens Rapides
        .d-flex.flex-column.justify-content-start
          a.text-white.mb-2(href='#')
            i.fa.fa-angle-right.mr-2
            | Accueil
          a.text-white.mb-2(href='#')
            i.fa.fa-angle-right.mr-2
            | &Agrave; Propos
          a#footer_conn.text-white.mb-2(href='#')
            i.fa.fa-angle-right.mr-2
            | Se Connecter
    .container-fluid.pt-5(style='border-top: 1px solid rgba(23, 162, 184, 0.2) ;')
      p.m-0.text-center.text-white
        | &copy;
        a.text-primary.font-weight-bold(href='#') AlloClasse
        | .
        |             Tous droits r&eacute;serv&eacute;s.
  // Footer End
  // Back to Top Start
  a.btn.btn-primary.p-3.back-to-top(href='#')
    i.fa.fa-angle-double-up
  // Back to Top End
  // Modal Connexion Start
  #modalConnexion.modal.fade(tabindex='-1' aria-labelledby='modalConnexionLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#modalConnexionLabel.modal-title Connexion
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          // Form Connexion Start
          form#formConn.row.g-3
            span#formConnErr
            .col-md-12
              label.form-label(for='courriel') Courriel
              input#courriel.form-control.is-valid(type='email' name='courriel' required='')
            .col-md-12
              label.form-label(for='pass') Mot de passe
              input#pass.form-control.is-valid(type='password' name='pass' required='')
            br
            br
            .col-md-12
              button.btn.btn-primary(type='button' onclick='seConnecter();') Se Connecter
              button.btn.btn-danger(type='reset') Vider
          // Form Connexion End
  // Modal Connexion End
// Vue End